{% extends "base.html" %}
{% import 'macros.html' as macros%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block  title%} {{ super() }}Bienvenido {% endblock  %}

{% block  content%}

    {% if user_type == 1 %}
    {%  if user_ip  %}
    {% else %} 
    <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}


    <ul class="list-group" style="background-color: rgb(63, 58, 58);">
    {% for user in users %}
        {% if user.id != username %}
            {{ macros.render_user(user, delete_form) }}
        {% endif %}
    {% endfor %}
    </ul>


    {% else %} 
    {% if username %}
        <h1>Bienvenido {{ username | capitalize}}</h1>
    {% endif %}

    {%  if user_ip  %}

    {% else %} 
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}
    {% endif %}

{% endblock  %}