
{% import 'bootstrap/wtf.html' as wtf %}




<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"></link>


{% macro render_user(user, delete_form) %}
<li class="list-group-item" style="background-color: rgb(63, 58, 58);" >
    user: {{ user.id }}
    email: {{ user.to_dict().email }}
    phone: {{ user.to_dict().phone }}
    {{ wtf.quick_form(delete_form, action=url_for('delete', user_id=user.id)) }}

    <button ><a href="{{ url_for('update_redirect') }}">Actualizar</a></button>
</li>
{% endmacro %}


{% macro render_user_update(user, update_form) %}
<li class="list-group-item">
    {{ wtf.quick_form(update_form, action=url_for('update_user', user_id=user.id ), method='post') }}
</li>

{% endmacro %}



