
{% import 'bootstrap/wtf.html' as wtf %}


{% macro render_user(user, delete_form) %}
<li class="list-group-item">
    user: {{ user.id }}
    email: {{ user.to_dict().email }}
    phone: {{ user.to_dict().phone }}
    {{ wtf.quick_form(delete_form, action=url_for('delete', user_id=user.id)) }}

    <button ><a href="{{ url_for('update_redirect') }}">Actualizar</a></button>
</li>
{% endmacro %}


{% macro render_user_update(user, update_form) %}
<li class="list-group-item">
    {{ wtf.quick_form(update_form, action=url_for('update_user', user_id=user.id ), method='post') }}
</li>

{% endmacro %}

{% macro render_image(photo, delete_image_form) %}
<li class="list-group-item">
    {% set path = 'app/static/files/' %}
    <div class="media">
        <img src="{{ path }}{{ photo }}" class="mr-3" alt="{{ photo }}">
    </div>
    {{ wtf.quick_form(delete_image_form, action=url_for('EliminarFoto', nombreFoto=photo)) }}
</li>
{% endmacro %}

